<%= simple_form_for @recipe do |f| %>
	<% if @recipe.errors.any? %>
		<p><% @recipe.errors.count %></p>
		<p>Prevented this recipe from saving</p>
		<ul>
			<% @recipe.errors.full_mesaages.each do |msg|%>
			<li><%= msg %></li>
			<%end%>
		</ul>
	<%end%>
	<div class="panel-body">
		<%= f.label :title %><br>
		<%= f.text_field :title ,placeholder: "Something Yummy :)", class:"form-contol" %>
		<br>
		<br>
		<%= f.label :description %><br>
		<%= f.text_area :description, class:"form-contol"%>
		<br>
		<br>
		
		<%= f.label :picture %><br>
		<%= f.file_field :picture, class:"form-contol"%>
		<br>
		<br>
		
		<%= f.button :submit,"Submit", class:"btn btn-primary" %>
	</div>
<%end%>