<%= form_for @recipe, multipart:true do |f| %>
<% if @recipe.errors.any? %>
<div id="errors">
	<p><%= pluralize(@recipe.errors.count, "error") %></p>
	<p>Prevented this recipe from saving</p>
	<ul>
		<% @recipe.errors.full_mesaages.each do |msg|%>
		<li><%= msg %></li>
		<%end%>
	</ul>
</div>
<%end%>
<div class="panel-body">
	
	<%= f.text_field :title ,placeholder: "Something Yummy :)", class:"form-contol" %>
	<br>
	<br>
	
	<%= f.text_field :description, class:"form-contol"%>
	<br>
	<br>
	
	
	<%= f.file_field :picture, class:"form-contol"%>
	<br>
	<br>
	<%= f.submit %>
	
	<div class="row">
		<div class="col-md-6">
			<h3>Ingredients</h3>
			<div id="ingredients">
				<%= f.fields_for :ingredients do |ingredient| %>
				<%= render 'ingredient_fields', f, :ingredient%>
			</div>
			<div class="links">
				<%=link_to_add_association 'Add Ingredient', f, :ingredients, class:"btn btn-default add-button"%>
			</div>
			<%end%>
		</div>
		<div class="col-md-6">
			<h3>Directions</h3>
			<div id="directions">
				<%= f.fields_for :directions do |direction| %>
				<%= render 'direction_fields', f, :direction%>
			</div>
			<div class="links">
				<%=link_to_add_association 'Add Ingredient', f, :directions, class:"btn btn-default add-button"%>
			</div>
			<%end%>
		</div>
	</div>
</div>
<%end%>