<!DOCTYPE html>
<html>
	<head>
		<title>Yummy</title>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>
	<body>
		<header class="navbar navbar-default" role="navigation">
			<div class="navbar-inner">
				<div class="container">
					<div id="logo" class="navbar-brand"><%= link_to "YUMMY", root_path %></div>
					<nav class="collapse navbar-collapse navbar-ex1-collapse">
						<ul class="nav navbar-nav pull-right">
							<li><%= link_to 'New Recipe', new_recipe_path %></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<div id="main_content" class="container">
			<!--Added flash msg-->
			<% flash.each do |name,msg| %>
			<!--Added alert class based on what type of alert it is-->
			<%= content_tag(:div, msg, class:"alert alert-#{name}") %>
			<% end %>
			<%= yield %>
		</div>
	</body>
</html>